@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, p {
  color: rgb(235, 235, 235);
}

.btn  {
  color: rgb(235, 235, 235);
}

#goBtn{
  margin-right: -0.1rem;
}

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}